@charset "utf-8";

html{
    font-size: 62.5%;
}

body{
    color: #333;
    font-size: 1.6rem;
}

.inline-block_test {
    display: inline-block;      /* インラインブロック要素にする */
    background-color:  #ccc;    /* 背景色指定 */
    padding:  20px;             /* 余白指定 */
    height: 100px;              /* 高さ指定 */
}
.gacha {

    background-color:  #fff;    /* 背景色指定 */
    padding:  10px;             /* 余白指定 */
    height: 50px;              /* 高さ指定 */
}
